@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'PressStart';
        src: url('/fonts/PressStart2P-Regular.ttf') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}
